# MacOS
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Custom for Visual Studio
*.opensdf
*.sdf
*.suo
*.filters

# Output File
*.out
